/* Genel Ayarlar */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #6c757d;
    padding: 10px 20px;
}

.logo-title {
    color: black;
    font-size: 38px;
    margin-right: 10%;
}

/* Restoran Açıklama */
.restoran-aciklama {
    background-color: #e9ecef;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #6c757d;
}

.restoran-aciklama h4 {
    margin: 0;
    font-size: 30px;
}

/* Menü */
.restorant-menu {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #f8f9fa;
}

.ana-menuler, .alternatif-menu {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.ana-menuler div, .alternatif-menu div {
    background-color: #adb5bd;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.ana-menuler div:hover, .alternatif-menu div:hover {
    background-color: #6c757d;
    color: white;
    cursor: pointer;
}

/* Ürün Detay Kısmı */
.genel-urunler {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menu-detay {
    width: 65%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-detay img {
    width: 20%;
    height: auto;
    border-radius: 8px;
}

.urun-bilgi {
    margin-top: 15px;
}

.urun-adi {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.urun-aciklama {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.urun-fiyat {
    font-size: 20px;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 10px;
}

.sepete-ekle {
    font-size: 16px;
}




body {
    font-family: Arial, sans-serif;
}

#menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.category {
    margin-bottom: 40px;
}

.urun {
    display: flex;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.urun-gorsel {
    flex: 1;
}

.urun-gorsel-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.urun-bilgi {
    flex: 2;
    padding: 0 15px;
}

.urun-adi {
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

.urun-aciklama {
    font-size: 0.9em;
    margin: 0 0 10px 0;
}

.urun-fiyat {
    font-size: 1.1em;
    margin: 0 0 10px 0;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}


